<mat-card>
    <mat-card-content>
        <div class="example-container">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
              <div class="example-form-fields">
                <mat-form-field>
                    <mat-label>Location Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name">
                  </mat-form-field>
          
                <mat-form-field>
                  <mat-label>Position X</mat-label>
                  <input matInput placeholder="X" formControlName="x" type="number">
                  <mat-hint>Must be a number</mat-hint>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Position Y</mat-label>
                    <input matInput placeholder="Y" formControlName="y" type="number">
                    <mat-hint>Must be a number</mat-hint>
                  </mat-form-field>
        
                  <button mat-raised-button type="submit">Submit</button>
              </div>
            </form>
          </div>

          <section class="example-container mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              <!-- x Column -->
              <ng-container matColumnDef="x">
                <th mat-header-cell *matHeaderCellDef> X </th>
                <td mat-cell *matCellDef="let element"> {{element.x}} </td>
              </ng-container>
          
              <!-- y Column -->
              <ng-container matColumnDef="y">
                <th mat-header-cell *matHeaderCellDef> Y </th>
                <td mat-cell *matCellDef="let element"> {{element.y}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </section>
    </mat-card-content>
</mat-card>

